* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --blvck: #000000;
    --white: #ffffff;
    --bsh: rgba(0 0 0 /13%);
    --light-grey: #55545436;
    --dark-grey: #5554547e;
    --btnblvck: #252525;
    --warning: #f44034;
    --border: #00000030;
}
html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

img{
    width: 100%;
}
h1{
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
}
h2{
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
}
h3{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}
li{
    list-style-type: none;
}
.b{
    font-weight: 600;
}
/* Custom classes */
.menu-3dot{
    display: grid;
    grid-gap: 4px;
}
.menu-3dot span{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--btnblvck);
}
.flex {
display: flex;
align-items: center;
width: 100%;
}
/* border */
.brd-8{
    border-radius: 8px;
}
    /* Divs */
.vertical-scroll{
    height: 100vh;
    overflow-y: scroll;
}
.vertical-scroll::-webkit-scrollbar{
    display: none;
}

    /* Buttons */
.btn{
    border-radius: 8px;
    white-space: nowrap;
    cursor:pointer;
}
.btn-center{
    display: block;
    margin: 0 auto;
}
.btn-back{
    font-size: 25px;
    -webkit-text-stroke-width: thick;
}
.btn-cancel{
    border: 2px solid var(--bsh);
    font-size: 25px;
    padding: 5px 15px;
    margin-right: 10px;
    background-color: var(--white);
    height: 40px;
    align-self: center;
    display: flex;
    align-items: center;
    color: var(--btnblvck);
}
.btn-prev{
    border: 2px solid var(--bsh);
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: var(--white);
    height: 40px;
    align-self: center;
    display: flex;
    align-items: center;
    color: var(--btnblvck);
}
.btn-primary{
    background-color: var(--btnblvck);
    color: var(--white);
    font-weight: 600;
    width: 70vw;
    min-width: 150px;
    height: 45px;
    box-shadow: 5px 5px 25px var(--bsh);
    font-size: 25px;
    border: none;
    border-radius: 4px;
}
.btn-primary-font-override{
    font-size: 25px;
}
.btn-small{
    width: fit-content;
    padding: 0 10px;
    font-size: 18px;
    min-width: 60px;
    min-width: fit-content;
    margin-left: 10px;
}

/* input */
.input{
    border: .5px solid var(--btnblvck);
    padding: 5px 10px;
}
.input-medium{
    width: 86vw;
    width: calc( 100vw - 40px );
    margin: 0 auto;
    display: block;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
}
.input-medium::placeholder{
    font-size: 15px;
}

form p{
    font-size: 18px;
    /* font-weight: 600; */
    margin: 20px 0 10px 20px;
}
form span{
    display: block;
    text-align: right;
    margin: 10px 20px;
    font-size: 18px;
}
form .error-info{
    margin: 10px 20px;
    font-size: 13px;
    text-align: left;
    color: var(--warning);
}

.inline{
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    align-items: center;
}


/* profile */
.profile{
    display: grid;
    grid-template-columns: auto 2fr;
    margin: 20px;
    /* width: 30vw;
    max-width: 200px; */
}
.profile-img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
    box-shadow: 5px 5px 10px var(--bsh);
    margin-right: 10px;
}

.profile-img-small{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 10px var(--bsh);
}
.profile-img img{
    object-fit: cover;
    height: 100%;
}
.profile-details{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.profile-name{
    font-weight: 600;
}

/* nav */
.nav{
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: var(--white);
    box-shadow: 0 3px 6px var(--bsh);
    position: absolute;
    align-items: center;
    padding: 20px;
}

/* ************************************************** */

/* onboarding */
.onboarding{
    height: 100%;
}
.onboarding-heading{
    width: 100vw;
    height: 9vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.onboarding .onboarding-slide{
    width: 100vw;
    height: 71vh;
    position: relative;
    /* overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; */
    
}
.onboarding .onboarding-slide::-webkit-scrollbar{
    display: none;
}
.onboarding .onboarding-slide .onboarding-slider{
    position: absolute;
    border-radius: 8px;
    /* display: inline-flex; */
    height: 67vh;
    width: 86vw;
    width: calc( 100vw - 40px );
    overflow: hidden;
    margin: 1.5vh 20px;
    box-shadow: 10px 10px 25px var(--bsh);
    transition: all ease-in-out 1s;
    left: 0;
}
.onboarding .onboarding-slide .onboarding-slider:nth-child(2){
    left: 110vw;
}
.onboarding .onboarding-slide .onboarding-slider:nth-child(3){
    left: 110vw;
}
.onboarding .onboarding-slide .onboarding-slider:nth-child(4){
    left: 110vw;
}
.onboarding .onboarding-slide .onboarding-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.onboarding .onboarding-slide .onboarding-slider .onboarding-text{
    position: absolute;
    bottom: 2vh;
    color: var(--white);
    font-weight: 600;
    font-size: 7.2vw;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 3px var(--bsh);
}
.onboarding .onboarding-indicator{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100px;
    transform: translateX(-50%);
    left: 50%;
    margin: 0 0 3vh;
}
.onboarding .onboarding-indicator span{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: .3px solid var(--btnblvck);
}
.onboarding .onboarding-indicator .active{
    border: none;
    background-color: var(--btnblvck);
}
.onboarding button{
    display: block;
    margin: 0 auto;
}

/* login */
.login-img{
    width: 100%;
    height: 40vh;
}
.login-img img{
    width: 86vw;
    width: calc(100vw - 40px );
    margin: 0 20px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 10px 10px 25px var(--bsh);
}

/* signup */
.setaccount{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0 3vh 20px;
}
/* home */
.home-nav{
    margin: 20px;
}
.home-nav ul{
    display: flex;
    justify-content: space-between;
}
.home-nav ul a{
    text-decoration: none;
    color: var(--black);
}
/* //////////////CHANGE ABOVE LATER///////////////////// */
.home-main{
    padding-bottom: 20px;
}
.home-advert{
    margin: 10px 20px;
    height: 22vh;
    border-radius: 8px;
    overflow: hidden;
}
.home-advert img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-ctn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 20px;
    grid-gap: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.section-ctn-ctn img{
    height: 20vh;
    border-radius: 8px;
    box-shadow: 5px 5px 25px var(--bsh);
}

/* send */
.cute-img{
    width:100vw;
    height: 30vh;
    margin-top:25px;
}
.cute-img img{
    height: 100%;
    object-fit: cover;
}
.send-div{
    /* display: none; */
}
.content .main {
position: relative;
top: -30%;
bottom: 0;
margin-bottom: 0;
height: 100%;
font-family: Arial, Helvetica, sans-serif;
z-index: 99;
}
.content .main .back-btn {
width: 40px;
height: 40px;
padding: 10px;
border-radius: 100%;
background-color: var(--white);
box-shadow: 0 0 10px var(--bsh);
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto 10px 20px;
}
.content .main .back-btn svg {
width: 20px;
height: 20px;
}
.cont{
/* background-color: var(--white);
border-radius: 40px 40px 0 0;
box-shadow: 0 0 40px var(--bsh);
padding: 26px 0;
height: 100%; */
    background-color: var(--white);
    border-radius: 40px 40px 0 0;
    box-shadow: 0 0 40px var(--bsh);
    padding: 26px 0;
    position: fixed;
    height: 100%;
    bottom: 0;
    left: 0;
    height: 70vh;
    width: 100vw;
    overflow-y: scroll;
    transition: all ease-in-out 1s;
}
.cont::-webkit-scrollbar{
    display: none;
}
.cont-main{
    z-index: 2;
}
.cont-sub{
    z-index: 10;
    bottom: -100vh;
}
.content .main .each-cont {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 20px 3vh;
}
.content .main .each-cont:nth-child(1) div {
background-color: var(--light-grey);
border-radius: 100%;
padding: 2px;
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}
.content .main .each-cont:nth-child(1) div:hover {
background-color: var(--dark-grey);
}

.content .main .each-cont:nth-child(2) > div {
display: flex;
justify-content: space-between;
padding: 4px;
align-items: center;
border: 0.5px solid var(--dark-grey);
border-radius: 4px;
height: 50px;
}
.content .main .each-cont:nth-child(2) > div:hover {
border: 0.5px solid var(--blvck);
/* font-weight: 900; */
}
.content .main .each-cont:nth-child(2) > div div {
display: grid;
grid-template-columns: 1fr;
font-size: 11px;
padding-right: 2px;
}
.content .main .each-cont:nth-child(2) > div div span:nth-child(1) {
font-weight: 600;
font-size: 14px;
margin-bottom: 5px;
}
.content .main .each-cont:nth-child(2) > div:nth-child(1) svg {
width: 20px;
height: 20px;
}
.content .main .each-cont:nth-child(2) > div:nth-child(2) svg {
width: 25px;
height: 25px;
}
.content .main .each-cont:nth-child(2) > div:nth-child(3) svg {
width: 30px;
height: 30px;
}

.content .main .each-cont:nth-child(3) {
display: flex;
align-items: center;
}
.content .main .each-cont:nth-child(3) input {
width: 70px;
height: 40px;
border: 1px solid var(--blvck);
border-radius: 4px;
text-align: center;
}
.content .main .each-cont:nth-child(3) button {
position: relative;
width: 40px;
height: 40px;
font-weight: 900;
line-height: 40px;
font-size: 25px;
text-align: center;
bottom: -6px;
background: none;
border-radius: 4px;
border: 0.5px solid var(--blvck);
margin: 0 5px;
}
.content .main .each-cont:nth-child(4) input {
width: 20px;
height: 20px;
margin-right: 5px;
}
.content .main .each-cont:nth-child(4) {
font-size: 13px;
}
.content .main .each-cont:nth-child(4) div {
display: flex;
justify-content: start;
width: 100%;
}
.content .main .each-cont:nth-child(4) div span {
display: flex;
align-items: center;
margin-right: 20px;
}

.content .main .each-cont:nth-child(5) {
display: grid;
grid-template-columns: 1fr;
}
.content .main .each-cont:nth-child(5) input {
width: 100%;
height: 35px;
border: 0.5px solid var(--blvck);
border-radius: 4px;
padding-left: 10px;
margin-bottom: 5px;
}
.content .main .each-cont:nth-child(5) button {
background-color: var(--white);
border: 0.5px solid var(--dark-grey);
border-radius: 4px;
padding: 10px;
}

.send {
display: flex;
margin: 0 20px;
}
/* .send button {
color: var(--white);
background-color: var(--blvck);
box-shadow: 0 0 10px var(--bsh);
border: none;
border-radius: 4px;
padding: 4px 10px;
height: 40px;
font-size: 16px;
} */

.overlay {
    background-color: var(--white);
    box-shadow: 0 0 40px var(--bsh);
    z-index: 9999999999;
    height: 0;
    transition: all ease-in-out .6s;
    overflow: hidden;
}
.cover {
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
bottom: 0;
background-color: transparent;
z-index: -1;
/* top: 100vh; */
transition: all ease-in-out 0.6s;
}
.volume {
top: 100vh;
position: absolute;
/* top: 25%; */
/* padding: 20px; */
font-size: 18px;
width: 100vw;
}
.volume > div {
margin-bottom: 20px;
}
.volume > div:nth-child(1) {
font-weight: 600;
}
.volume .flex input {
width: 50px;
height: 50px;
border-radius: 4px;
margin-right: 10px;
text-align: center;
border: 1px solid var(--blvck);
}
.volume .send {
margin: 0;
}
.volume .send button:nth-child(1) {
background: none;
box-shadow: none;
border: 1px solid var(--light-grey);
color: var(--dark-grey);
font-size: 16px;
}
.volume .send button:nth-child(2) {
width: 45%;
margin-left: 10px;
font-size: 16px;
}

.others {
/* top: 100vh; */
position: absolute;
bottom: -100vh;
/* padding: 20px; */
font-size: 18px;
width: 100vw;
border-radius: 50px 50px 0 0;
}
.others > div:nth-child(1) input {
width: 100%;
height: 40px;
border-radius: 4px;
border: 0.5px solid var(--blvck);
margin: 20px 0;
padding-left: 10px;
}
.others .others-select {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-row-gap: 20px;
}
.others .others-select div {
background-color: var(--light-grey);
border-radius: 100%;
padding: 2px;
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}
.others .others-select div:hover {
background-color: var(--dark-grey);
}

/* location */
.location-div {
position: absolute;
z-index: 9999999;
width: 100vw;
height: 100vh;
left: 0;
background-color: #fffffff6;
transition: all ease-in-out 0.6s;
}
.location-div > div:nth-child(1) {
box-shadow: 0 0 20px var(--bsh);
background-color: var(--white);
padding: 10px 20px;
display: grid;
grid-template-columns: 1fr;
grid-gap: 10px;
}
.location-div > div:nth-child(1) > div:nth-child(2){
    margin-top: 10px;
}
.location-div .inline{
    justify-content: space-between;
    margin: 0;
}
.location-div div input {
width: 100%;
height: 40px;
border: 0.5px solid var(--blvck);
border-radius: 4px;
padding-left: 10px;
margin: 10px auto;
}
.location-div > div:nth-child(2) {
    height: 100%;
}
#location-from, #location-to{
    top:100vh;
    height: 0;
    overflow: hidden;
}
.send-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    background-color: var(--white);
    margin: 0;
    padding: 0 20px;
    width: 100vw;
    z-index: 3;
}
.send-info{
    margin: 10px 20px;
    border: .5px solid var(--border);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding:10px;
    font-size: 13px;
}
.send-info h3{
    padding: 0 0 10px 0;
    font-size: 16px;
}
.send-pin span{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: red;
    margin-right: 10px;
}
.send-from-from .location{
    margin-bottom: 5px;
}
.add-drop-off{
    width: fit-content;
    display: block;
    margin: 0 auto;
    border: .5px solid var(--border) ;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 70px;
}
.additional-info{
    position: absolute;
}
.additional-services{
    display: flex;
    flex-flow: wrap;
    padding: 20px 0;
}
.additional-services div{
    width: fit-content;
    padding: 5px 10px;
    margin: 0 5px 10px 0;
    border: .5px solid var(--border);
    border-radius: 8px;
}
.additional-services .active{
    border: 1px solid rgb(37, 172, 37);
}
.additional-info .flex{
    position: absolute;
    bottom: 20px;
    max-width: 86vw;
}

/* CHAT SECTION */
.chat{
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.chat-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    box-shadow: 0 5px 10px var(--bsh);
    background-color: var(--white);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    z-index: 99;
}
.chat-body{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    padding: 70px 20px 50px ;
    background-color: #fafafa;
    overflow-y: scroll;
}
.chat-body .chat-ctn{
    display: grid;
    grid-gap: 10px;
    margin: 0 0 20px 0;
}
.chat-body .chat-ctn >div:nth-child(1) img{
    object-fit: cover;
    height: 100%;
}
.chat-body .chat-ctn >div:nth-child(1){
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}
.chat-body .chat-ctn >div:nth-child(1) >div:nth-child(1){
    margin-right: 20px;
}
.chat-body .chat-ctn >div:nth-child(2){
    font-size: 16px;
    padding: 10px 20px;
    box-shadow: 0 0 5px var(--bsh);
    max-width: 80vw;
}
.chat-body .chat-ava >div:nth-child(2){
    background-color: var(--blvck);
    color: var(--white);
    border-radius: 0 20px 20px 20px;
}

.chat-body .chat-customer{
    justify-items: right;
}
.chat-body .chat-customer >div:nth-child(2){
    background-color: var(--white);
    color: var(--blvck);
    border-radius: 20px 0 20px 20px;
}

.chat-box{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: var(--white);
    box-shadow: 0 0 5px var(--bsh);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20px;
    z-index: 99;
}
.chat-box textarea{
    height: 35px;
    border: none;
    background-color: #f6f6f6;
    border-radius: 100px;
    padding: 10px;
}
/* OVERRIDE CLASSES */

.fs-20{
    font-size: 20px;
}